*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgba(230, 87, 62, 0.918);
}

.container{
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}
.breakpoint{
    height: 100%;
}
.breakpoint > div{
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
    display: inline-block;
    height: 50px;
    padding: 0.5rem;
    width: auto;
}

.breakpoint h1{
    padding: 2rem;
    margin-bottom: 2rem;
}
